


.wrapper{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 80px auto 50px;
    grid-template-areas: "header" "main" "footer";
}

header{
    grid-area: header;
    display: grid;
    grid-template-columns:80px 1fr 1fr 1fr 1fr 1fr;
    border-bottom: 1px solid purple;
   
}

header img{
    /*grid-area: img;*/
    grid-column: 1;
}

nav{
    grid-column: 4/span 3;
    grid-row: 1;
    /*grid-area: nav;*/
}

nav ul {
    display: grid;
    grid-template-columns:  1fr 1fr 1fr 1fr 1fr;
    list-style-type: none;
    padding: 0;
    margin: 0;
    height: 100%;
    line-height: 3;
    font-family: apotek-extrawide,sans-serif;
    font-weight: 700;
    font-style: normal;
}

nav li{
    text-align: center;
}

.logo{
    margin: 7px;
}
.grow{
    display: block;
    max-width: 90%;
    height: auto;
   margin: auto;
}

p{border: 1px solid black }